<h1> Password Hide/Show</h1>
<form [formGroup]="passwordhideFrom">
  <div class="row">
    <div class="col-md-6" style="position: relative;">
      <label for="">Password</label>
      <input [type]="showPassword ? 'text' : 'password'"  formControlName="password" placeholder="Enter password Here">

      <button
        type="button"
        (click)="togglePassword()"
       >
        {{ showPassword ? 'Hide' : 'Show' }}
      </button>
    </div>


  </div>
  <div class="row">
<div class="col">
  <button type="button" (click)="submit()">Submit</button>
  <button type="button" (click)="clear()">clear</button>
</div>
  </div>
</form>
